/* Create a box that wraps the whole page, and makes the function accesible to old browser*/
* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0;
     margin-left: auto;
     margin-right: auto;
     width: block;
 }

body {
    margin-left: 5%;
    margin-right: 5%;
}
/* gives more space on the between navbar items */
.navbar li {
    padding-left: 30px;
    padding-right: 30px;
  }

.navbar-brand {
    padding-right: 10%;
}

/*size of main picture*/
#myphoto {
    height: 75%;
}

/* Modifies title my story*/
.container h2 {
    text-align: center;
    padding-bottom: 5%;
}


/*modifies Education and Job experience boxes*/
.box {
    background-color: beige;
    width: 40%;
    border: solid;
    margin-right: 5%;
    margin-left: 2em;
    padding: 2%;
    font-size: 14px;
}
 /*Adds bulletpoints to lists*/
.box ul {
    list-style-type: disc !important;
    padding-left:1em !important;
    margin-left:1em;
    }

/*footer position and decoration*/
footer {
    text-align: center;
}

/* makes the above instructions accesible to screens smaller than 992px */
@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }

    #myphoto {
        height: 75%;
        
    }
}

#myphoto {
    height: 75%;
   
}
