/* Create a box that wraps the whole page, and makes the function accesible to old browser*/
* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0;
     margin-left: auto;
     margin-right: auto;
     width: block;
 }

body {
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(../images/smoke.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 80%; 
}

/* gives more space on the between navbar items */
.navbar li {
    padding-left: 30px;
    padding-right: 30px;
  }

.navbar-brand {
    padding-right: 10%;
}

/*change font of navbar*/
nav {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: bitter, "Open Sans", "Brandon Grotesque";
}

/*change navbar background color*/
nav {
    background-color: rgba(241, 90, 34, 1);
}

/*stylize title My Portfolio in body section*/
.Portfolio {
    padding-top: 2%;
    font-weight: bold;
    font-size: 30px;
    font-family: bitter, "Open Sans", "Brandon Grotesque";
    text-align: center;
}

/*stylize text in the container of the body (cards)*/
.container {
    font-size: 20px;
    font-family: bitter, "Open Sans", "Brandon Grotesque";
}

/*stylize footer*/
footer p{
    font-size: 20px;
    font-weight: bold;
    font-family: bitter, "Open Sans", "Brandon Grotesque";
    text-align: center;
    background-color: rgba(241, 90, 34, 1);
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    position: sticky;
}

/* makes the above instructions accesible to screens smaller than 992px */
@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }

}