/* Create a box that wraps the whole page, and makes the function accesible to old browser*/
* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0;
     margin-left: auto;
     margin-right: auto;
     width: block;
 }


/* gives more space on the between navbar items */
.navbar li {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

.navbar-brand {
    padding-right: 5%;
}

/*change font of navbar*/
nav {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: bitter, "Open Sans", "Brandon Grotesque";
}

/*change navbar background color*/
nav {
    background-color: rgba(0, 181, 204, 1);
}

/*size of main picture*/

#myphoto {
    max-width: 100%;
    width: 100%;
    position: relative;
    top: 20%;
    margin-left: 0;
}

/* Modifies title my story*/
.container h2 {
    text-align: center;
    padding-bottom: 5%;
    font-family: bitter, "Open Sans", "Brandon Grotesque";
    font-weight: bold;
}

p {
    font-family: bitter, "Open Sans", "Brandon Grotesque";
    font-size: 1.2em;
}


/*modifies Education and Job experience boxes*/
.box {
    background-color: beige;
    max-width: 100%;
    width: 40%;
    border: solid;
    margin-right: 5%;
    margin-left: 2em;
    padding: 2%;
    font-size: 0.8em;
    overflow-wrap: break-word;
}
 /*Adds bulletpoints to lists*/
.box ul {
    list-style-type: disc !important;
    padding-left:1em !important;
    margin-left:1em;
    }

/*stylize footer*/
footer p{
    margin-top: 10%;
    font-size: 1.2em;
    font-weight: bold;
    font-family: bitter, "Open Sans", "Brandon Grotesque";
    text-align: center;
    background-color:rgba(0, 181, 204, 1);
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    bottom: 0px;
    position: relative;
    display: inline-block;
    top:300px;
}

/*Gives margin to the navbar for screens bigger than xs screens
@media only screen and (min-width: 568px) {
    nav {
        margin-left: 5%;
        margin-right: 5%;
    }
}