/* Create a box that wraps the whole page, and makes the function accesible to old browser*/
* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0;
     margin-left: auto;
     margin-right: auto;
     width: block;
 }

body {
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(../images/tentacles.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 5%; 
}

.contactform {
    padding: 0.3% 20px 0.1% 20px;
    margin-top: 5%;
    max-width: 100%;
    width: 60%;
    background: rgba(190, 144, 212, 0.5);
    position: relative;
    top: 20px;
    left: 20%;
    font-family: bitter, "Open Sans", "Brandon Grotesque";
    font-size: 1em;
    overflow-wrap: break-word;
}

.email {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

/* gives more space on the between navbar items */
.navbar li {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

.navbar-brand {
    padding-right: 5%;
}

/*change font of navbar*/
nav {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: bitter, "Open Sans", "Brandon Grotesque";
}

/*stylize footer*/
footer p{
    margin-top: 10%;
    font-size: 1.2em;
    font-weight: bold;
    font-family: bitter, "Open Sans", "Brandon Grotesque";
    text-align: center;
    background-color:#33383e;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    bottom: 0px;
    position: relative;
    display: inline-block;
    top:300px;
}

/*Gives margin to the navbar for screens bigger than xs screens
@media only screen and (min-width: 568px) {
    nav {
        margin-left: 5%;
        margin-right: 5%;
    }
}